<configuration>
    <!-- 공통 설정 -->
    <springProperty scope="context" name="PID" source="pid" defaultValue="UNKNOWN"/>

    <!-- 'prod' 프로필에서만 FLUENTD Appender 정의 -->
    <springProfile name="prod">
        <!-- Logstash TCP Socket Appender -->
        <appender name="FLUENTD" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
            <destination>custom-fluentd:24224</destination>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <customFields>{"application":"spring-server", "environment":"prod", "type":"json"}</customFields>
            </encoder>
        </appender>

        <!-- 콘솔 출력 Appender (색상 지원) -->
        <appender name="COLOR_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <!-- 스프링 기본 로그 패턴 -->
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%-5level) --- [%thread] %cyan(%logger{36}) : %msg%n</pattern>
                <charset>UTF-8</charset>
            </encoder>
        </appender>

        <!-- Root Logger 설정 -->
        <root level="INFO">
            <appender-ref ref="FLUENTD" />
            <appender-ref ref="COLOR_CONSOLE" />
        </root>
    </springProfile>
</configuration>
